@using WebApplication2.Models;
@model List<Teacher>
@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single_teacher mb-45">
            <div class="single_teacher_image">
                <a href="">
                    <img src="~/assets/images/@item.FilePath" alt="teacher" />
                </a>
            </div>
            <div class="teacher_content">
                <h2><a asp-action="details" asp-controller="teacher" asp-route-id="@item.Id">@item.FullName</a></h2>
                <h4>@item.ScientificDegree</h4>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/devitemsllc/">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/devitemsllc">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}