@model WebApplication2.Models.Event

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Event</div>
            <hr>
            <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Event" asp-area="admin">

                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Add Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Add Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Venue">Venue</label>
                    <input asp-for="Venue" class="form-control" placeholder="Add Venue">
                    <span class="text-danger" asp-validation-for="Venue"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date">Date</label>     
                    <input asp-for="Date" class="form-control" type="date" placeholder="YYYY-MM-DD">
                    <span class="text-danger" asp-validation-for="Date"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime">StartTime</label>              
                    <input asp-for="StartTime" class="form-control" type="time" placeholder="HH:MM">
                    <span class="text-danger" asp-validation-for="StartTime"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime">EndTime</label>               
                    <input asp-for="EndTime" class="form-control" type="time" placeholder="HH:MM">
                    <span class="text-danger" asp-validation-for="EndTime"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>           
                <div class="form-group">
                    <button  class="btn btn-light px-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    @* <partial name ="_ValidationFormPartial" /> *@

    @Html.PartialAsync("_ValidationFormPartial")

    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>



    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}