@model WebApplication2.Models.Slider

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Create New Slider</div>
            <hr>
            <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Slider" asp-area="admin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Description" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input type="file" asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BackgroundPhoto">Background Photo</label>
                    <input type="file" asp-for="BackgroundPhoto" class="form-control" />
                    <span asp-validation-for="BackgroundPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a asp-action="Index" asp-controller="Slider" asp-area="admin" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    @* <partial name ="_ValidationFormPartial" /> *@

    @Html.PartialAsync("_ValidationFormPartial")

    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>



    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
