@using WebApplication2.Models;
@model Skill
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Teacher`s Skill</div>
            <hr>
            <form method="post" enctype="multipart/form-data" asp-action="update" asp-controller="skill" asp-area="admin">
                <div class="form-group">
                    <label asp-for="@Model.Teacher.FullName">@Model.Teacher.FullName</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Language">Language</label>
                    <input asp-for="Language" class="form-control">
                    <span class="text-danger" asp-validation-for="Language"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamLeader">Teamleader</label>
                    <input asp-for="TeamLeader" class="form-control">
                    <span class="text-danger" asp-validation-for="TeamLeader"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Development">Development</label>
                    <input asp-for="Development" class="form-control">
                    <span class="text-danger" asp-validation-for="Development"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Design">Design</label>
                    <input asp-for="Design" class="form-control">
                    <span class="text-danger" asp-validation-for="Design"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Innovation">Innovation</label>
                    <input asp-for="Innovation" class="form-control">
                    <span class="text-danger" asp-validation-for="Innovation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Communication">Communication</label>
                    <input asp-for="Communication" class="form-control">
                    <span class="text-danger" asp-validation-for="Communication"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
