@model List<WebApplication2.Models.EventSpeaker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Speaker
            </th>
            <th>
                Event
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Speaker.FullName
                </td>
                <td>
                    @item.Event.Title
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this?');">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
