<section class="banner-area">
    <div class="banner-area-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Teachers / Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="teacher-details">
    <div class="teacher-details-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="teacher-details-img">
                        <img src="~/assets/images/teacher-details.webp" alt="teacher" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="teacher-details-content">
                        <h2>STUART KELVIN</h2>
                        <h5>Associate Professor</h5>
                        <h4>about me</h4>
                        <p>
                            I must explain to you how all this a mistaken idea of
                            denouncing great explorer of the rut the is lder of human
                            happiness pcias unde omnis iste natus error sit voluptatem
                            accusantium ue laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo inventore veritatis et quas i architeo beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                        </p>
                        <ul>
                            <li><span>degree: </span>PHD in Micro Biology</li>
                            <li><span>experience: </span>7 years experience</li>
                            <li>
                                <span>hobbies: </span>music, travelling, catching fish
                            </li>
                            <li>
                                <span>faculty: </span>Din, Department of Micro Biology
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="teacher-contact">
                        <h4>contact information</h4>
                        <p><span>mail me : </span>stuart@eduhome.com</p>
                        <p><span>make a call : </span>(+125) 5896 548 9874</p>
                        <p><span>skype : </span> stuart.k</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/devitemsllc/">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/devitemsllc">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="skill-area">
                        <h4>skills</h4>
                    </div>
                    <div class="skill-wrapper">
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>language</span>
                                <div class="progress">
                                    <div style="width: 85%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>team leader</span>
                                <div class="progress">
                                    <div style="width: 90%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>development</span>
                                <div class="progress">
                                    <div style="width: 85%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>design</span>
                                <div class="progress">
                                    <div style="width: 95%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>innovation</span>
                                <div class="progress">
                                    <div style="width: 85%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="skill-bar-item">
                                <span>communication</span>
                                <div class="progress">
                                    <div style="width: 95%"
                                         data-progress="50%"
                                         class="progress-bar">
                                        <span class="text-top">95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>