@using WebApplication2.ViewModels.Teachers;
@model TeacherVM
<section class="banner">
    <div class="banner-area">
        <div class="banner-area-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Our Teachers</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="teacher">
    <div class="pt-150 pb-105">
        <div class="container">
            <div id="teachers" class="row">
                @foreach(var item in Model.Teachers)
                {
                     <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single_teacher mb-45">
                        <div class="single_teacher_image">
                            <a href="">
                                <img src="~/assets/images/@item.FilePath" alt="teacher" />
                            </a>
                        </div>
                        <div class="teacher_content">
                            <h2><a asp-action="details" asp-controller="teacher" asp-route-id="@item.Id">@item.FullName</a></h2>
                            <h4>@item.ScientificDegree</h4>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/devitems/?ref=bookmarks">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/devitemsllc/">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/devitemsllc">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="d-flex justify-content-center" id="loadMoreContainer">
                <a id="loadMore" class="btn btn-primary" style="color:aliceblue">Load More...</a>
            </div>
        </div>
    </div>
</section>
<script>
    // Örneğin, verilerin sona erdiğini bir değişkenle kontrol ediyoruz.
    var dataEnded = true; // Varsayılan olarak verilerin bittiğini varsayalım.

    // Verilerin tükenip tükenmediğini kontrol eden bir fonksiyon.
    function checkDataEnded() {
        if (dataEnded) {
            $('#loadMoreContainer').hide(); // Eğer veriler bittiyse "Load More" düğmesini gizle.
        } else {
            $('#loadMoreContainer').show(); // Eğer veriler bitmediyse "Load More" düğmesini göster.
        }
    }

    // Örneğin, verilerin yüklendiği bir API çağrısı sonrasında bu fonksiyon çalıştırılabilir.
    function loadDataFromAPI() {
        // API çağrısını yap ve verileri yükle
        // Veriler yüklendikten sonra:
        dataEnded = false; // Eğer veriler yüklendiyse, verilerin hala bitmediğini belirt.
        checkDataEnded(); // Verilerin tükenip tükenmediğini kontrol et.
    }

    // Bu sadece bir örnek. Gerçek senaryonuza göre bu kısmı uygun şekilde değiştirin.
    // loadDataFromAPI(); // Eğer verilerin yüklendiği bir API çağrısı varsa bu satırı kullanın.

    // Sayfa yüklendiğinde veya veriler yüklendikten sonra verilerin tükenip tükenmediğini kontrol ediyoruz.
    $(document).ready(function() {
        checkDataEnded();
    });
</script>
