@using WebApplication2.Models;
@model ContactInformation
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Add Information</div>
            <hr>
            <form method="post" asp-action="update" asp-controller="ContactInfo" asp-area="admin">
                <div class="form-group">
                    <label asp-for="Email">Name</label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Skype">Skype</label>
                    <input asp-for="Skype" class="form-control">
                    <span class="text-danger" asp-validation-for="Skype"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Number">Phone Number</label>
                    <input asp-for="Number" class="form-control">
                    <span class="text-danger" asp-validation-for="Number"></span>
                </div>                            
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>