
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item">
                    <div class="single-slide item" style="background-image: url(../assets/images/slider1.webp)">
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="slide-content-wrapper">
                                            <div class="slide-content">
                                                <h3>EDUCATION MAKES</h3>
                                                <h2>PROPER HUMANITY</h2>
                                                <p>
                                                    I must explain to you how all this mistaken idea
                                                    of denouncing pleasure and prsing pain was born
                                                    and I will give you a complete account of the
                                                    system
                                                </p>
                                                <a class="default-btn" href="about.html">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="slider-img">
                                            <img src="~/assets/images/home.webp" alt="slider" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="single-slide item"
                         style="background-image: url(../assets/images/slider2.webp)">
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="slide-content-wrapper">
                                            <div class="slide-content">
                                                <h3>EDUCATION MAKES</h3>
                                                <h2>PROPER HUMANITY</h2>
                                                <p>
                                                    I must explain to you how all this mistaken idea
                                                    of denouncing pleasure and prsing pain was born
                                                    and I will give you a complete account of the
                                                    system
                                                </p>
                                                <a class="default-btn" href="about.html">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="slider-img">
                                            <img src="~/assets/images/home.webp" alt="slider" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="single-slide item"
                         style="background-image: url(../assets/images/slider3.webp)">
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="slide-content-wrapper">
                                            <div class="slide-content">
                                                <h3>EDUCATION MAKES</h3>
                                                <h2>PROPER HUMANITY</h2>
                                                <p>
                                                    I must explain to you how all this mistaken idea
                                                    of denouncing pleasure and prsing pain was born
                                                    and I will give you a complete account of the
                                                    system
                                                </p>
                                                <a class="default-btn" href="about.html">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="slider-img">
                                            <img src="~/assets/images/home.webp" alt="slider" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses">
    <div class="pt-150 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <img src="~/assets/images/section.webp" alt="section-title" />
                        <h2>COURSES WE OFFER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-action="index" asp-controller="courseDetails">
                                <img src="~/assets/images/course1.webp" alt="course" />
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="index" asp-controller="courseDetails">CSE ENGINEERING</a></h3>
                            <p>
                                I must explain to you how all this a mistaken idea of
                                denouncing great explorer of the rut the is lder of human
                                happiness
                            </p>
                            <a class="default-btn" asp-action="index" asp-controller="courseDetails">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-action="index" asp-controller="courseDetails">
                                <img src="~/assets/images/course2.webp" alt="course" />
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="index" asp-controller="courseDetails">CSE ENGINEERING</a></h3>
                            <p>
                                I must explain to you how all this a mistaken idea of
                                denouncing great explorer of the rut the is lder of human
                                happiness
                            </p>
                            <a class="default-btn" asp-action="index" asp-controller="courseDetails">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course mb-0">
                        <div class="course-img">
                            <a asp-action="index" asp-controller="courseDetails">
                                <img src="~/assets/images/course3.webp" alt="course" />
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="index" asp-controller="courseDetails">CSE ENGINEERING</a></h3>
                            <p>
                                I must explain to you how all this a mistaken idea of
                                denouncing great explorer of the rut the is lder of human
                                happiness
                            </p>
                            <a class="default-btn" asp-action="index" asp-controller="courseDetails">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="notice">
    <section class="pt-140 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="notice_left mb-25 pb-25">
                        <h3>TAKE A VIDEO TOUR</h3>
                        <div class="notice_video">
                            <div class="video_icon">
                                <a href="" class="video-popup-btn">
                                    <i class="fa-regular fa-circle-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="notice_right">
                        <h3>notice board</h3>
                        <div class="notice_down" tabindex="1">
                            <div class="single_notice_right mb-23 pb-20">
                                <h4>5, June 2022</h4>
                                <p>
                                    I must explain to you how all this mistaken idea of
                                    denouncing plasure and praising pain was born and I will
                                    give you a complete
                                </p>
                            </div>
                            <div class="single_notice_right hidden-sm mb-23 pb-20">
                                <h4>4, June 2022</h4>
                                <p>
                                    I must explain to you how all this mistaken idea of
                                    denouncing plasure and praising pain was born and I will
                                    give you a complete
                                </p>
                            </div>
                            <div class="single_notice_right pb-70">
                                <h4>3, June 2022</h4>
                                <p>
                                    I must explain to you how all this mistaken idea of
                                    denouncing plasure and praising pain was born and I will
                                    give you a complete
                                </p>
                            </div>
                            <div class="single_notice_right mb-23 pb-20">
                                <h4>5, June 2022</h4>
                                <p>
                                    I must explain to you how all this mistaken idea of
                                    denouncing plasure and praising pain was born and I will
                                    give you a complete
                                </p>
                            </div>
                            <div class="single_notice_right hidden-sm mb-23 pb-20">
                                <h4>4, June 2022</h4>
                                <p>
                                    I must explain to you how all this mistaken idea of
                                    denouncing plasure and praising pain was born and I will
                                    give you a complete
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="best_education">
    <div class="pb-135 pt-130 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <h2><span>EDUHOME</span> the best education theme for you</h2>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing
                            pleure and prsing pain was born and I will give you a complete
                            account of the system, and expound the actual teachings the
                            master-builder of humanit happiness
                        </p>
                        <p>
                            I must explain to you how all this mistaken idea of denouncing
                            pleure and prsing pain was born and I will give you a complete
                            account of the system
                        </p>
                        <a class="default-btn" href="/about.html">buy now</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <img src="~/assets/images/about.webp" alt="about" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events">
    <div class="text-center pt-100 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <img src="~/assets/images/section.webp" alt="section-title" />
                        <h2>UPCOMMING EVENTS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_event mb-35">
                        <div class="event_img">
                            <a asp-action="index" asp-controller="eventDetails">
                                <img src="~/assets/images/event5.webp" alt="event" />
                                <div class="course_hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event_date">
                                <h3>20 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event_content text-start">
                            <h4><a asp-action="index" asp-controller="eventDetails">ADVANCE PHP WORKSHOP</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> New Yourk City</li>
                            </ul>
                            <div class="event_content_right">
                                <a class="default-btn" asp-action="index" asp-controller="eventDetails">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_event mb-35">
                        <div class="event_img">
                            <a asp-action="index" asp-controller="eventDetails">
                                <img src="~/assets/images/event6.webp" alt="event" />
                                <div class="course_hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event_date">
                                <h3>18 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event_content text-start">
                            <h4>
                                <a asp-action="index" asp-controller="eventDetails">learning english history</a>
                            </h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> New Yourk City</li>
                            </ul>
                            <div class="event_content_right">
                                <a class="default-btn" asp-action="index" asp-controller="eventDetails">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_event">
                        <div class="event_img">
                            <a asp-action="index" asp-controller="eventDetails">
                                <img src="~/assets/images/event7.webp" alt="event" />
                                <div class="course_hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event_date">
                                <h3>16 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event_content text-start">
                            <h4>
                                <a asp-action="index" asp-controller="eventDetails">UI & UX DESIGNER MEETUP</a>
                            </h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> New Yourk City</li>
                            </ul>
                            <div class="event_content_right">
                                <a class="default-btn" asp-action="index" asp-controller="eventDetails">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="testimonial-owl owl-theme owl-carousel owl-loaded owl-drag">
                    <div class="single_testimonial">
                        <div class="testimonial_info">
                            <div class="testimonial_img">
                                <img src="~/assets/images/testimonial.webp"
                                     alt="testimonial" />
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    I must explain to you how all this mistaken idea of
                                    denoung pleure and praising pain was born and I will give
                                    you a coete account of the system, and expound the actual
                                </p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog">
    <div class="pt-150 pb-150 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <img src="~/assets/images/section.webp" alt="section-title" />
                        <h2>LATEST FROM BLOG</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_blog">
                        <div class="blog_img">
                            <a asp-action="index" asp-controller="blogDetails">
                                <img src="~/assets/images/blog1.webp" alt="blog" />
                            </a>
                            <div class="blog_hover">
                                <a asp-action="index" asp-controller="blogDetails"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog_content">
                            <div class="blog_up">
                                <p>
                                    By Alex / June 20, 2022 /
                                    <i class="fa-regular fa-comment"></i> 4
                                </p>
                            </div>
                            <div class="blog_bottom">
                                <h2>
                                    <a href="blog-details.html">
                                        I must explain to you how all this a mistaken idea
                                    </a>
                                </h2>
                                <a asp-action="index" asp-controller="blogDetails">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_blog">
                        <div class="blog_img">
                            <a href="blog-details.html">
                                <img src="~/assets/images/blog2.webp" alt="blog" />
                            </a>
                            <div class="blog_hover">
                                <a asp-action="index" asp-controller="blogDetails"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog_content">
                            <div class="blog_up">
                                <p>
                                    By Alex / June 20, 2022 /
                                    <i class="fa-regular fa-comment"></i> 4
                                </p>
                            </div>
                            <div class="blog_bottom">
                                <h2>
                                    <a asp-action="index" asp-controller="blogDetails">
                                        I must explain to you how all this a mistaken idea
                                    </a>
                                </h2>
                                <a asp-action="index" asp-controller="blogDetails">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_blog mb-0">
                        <div class="blog_img">
                            <a asp-action="index" asp-controller="blogDetails">
                                <img src="~/assets/images/blog3.webp" alt="blog" />
                            </a>
                            <div class="blog_hover">
                                <a asp-action="index" asp-controller="blogDetails"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog_content">
                            <div class="blog_up">
                                <p>
                                    By Alex / June 20, 2022 /
                                    <i class="fa-regular fa-comment"></i> 4
                                </p>
                            </div>
                            <div class="blog_bottom">
                                <h2>
                                    <a asp-action="index" asp-controller="blogDetails">
                                        I must explain to you how all this a mistaken idea
                                    </a>
                                </h2>
                                <a asp-action="index" asp-controller="blogDetails">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
